<div class="matching-index-page">
  <%= render "partial/navbar" %>

  <div class="matching">
    <p class="matching-title ml-3">メッセージ</p>
    <p class="matching-num">マッチング中のお相手 <%= @match_users.size %>人</p>

    <div class="matching__list">
      <% unless @match_users.empty? %>
        <% @match_users.each do |user| %>
         <div class="matching__person">

           <% if user.profile_image.url.nil? %>
             <div class="matching__person-default-img"></div>
           <% else %>
             <%= image_tag user.profile_image.url, class: "matching__person-img" %>
           <% end %>

           <div class="matching__person-name">
             <%= user.name %>
           </div>

         </div>
        <% end %>
      <% end %>
    </div>
  </div>

</div>
